@page "/countries/add"
@using Catalog.Infrastructure.Entities
@using Catalog.Infrastructure.Services
@using Catalog.Web.Dtos
@using AutoMapper
@inject ICountryService CountryService
@inject NavigationManager NavigationManager
@inject IMapper Mapper
@inject MudBlazor.ISnackbar SnackBar

<h3>Add Country</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@_countryDto.Name" />
            </div>
            <div class="form-group">
                <label for="ShortName" class="control-label">ShortName</label>
                <input form="ShortName" class="form-control" @bind="@_countryDto.ShortName" />
            </div>
            <div class="form-group">
                <label for="Code" class="control-label">Code</label>
                <input form="Code" class="form-control" @bind="@_countryDto.Code" />
            </div>
            <div class="form-group">
                <label for="StartDate" class="control-label">StartDate</label>
                <input form="StartDate" class="form-control" @bind="@_countryDto.StartDate" />
            </div>
            <div class="form-group">
                <label for="FinishDate" class="control-label">FinishDate</label>
                <input form="FinishDate" class="form-control" @bind="@_countryDto.FinishDate" />
            </div>
            @*<div class="form-group">
                    <label for="Gender" class="control-label"></label>
                    <select @bind="@country." class="form-control">
                        <option value="">-Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Insert" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>
@code {
    CountryDto _countryDto = new CountryDto();

    protected void Insert()
    {
        var country = Mapper.Map<Country>(_countryDto);
        CountryService.Create(country);
        NavigationManager.NavigateTo("Countries");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Countries");
    }
}